/* Контейнер карточек */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start; /* Выровнять карточки по верхнему краю */
}

/* Карточка */
.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
  width: 250px; /* Устанавливаем фиксированную ширину */
  display: flex;
  flex-direction: column; /* Располагаем содержимое карточки вертикально */
  height: 100%; /* Занять всю доступную высоту */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Изображение карточки */
.card-img-top {
  height: 150px; /* Фиксированная высота для всех изображений */
  object-fit: cover; /* Обрезка изображения для соответствия контейнеру */
  border-bottom: 1px solid #e0e0e0;
}

/* Тело карточки */
.card-body {
  padding: 16px;
  text-align: center;
  flex-grow: 1; /* Занять оставшееся пространство */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Разместить содержимое равномерно */
}

/* Цены */
.card-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333333;
  margin: 0;
}

.card-price-sale {
  font-size: 1rem;
  font-weight: bold;
  color: #d32f2f;
  margin: 0;
  text-decoration: line-through;
  margin-top: 4px;
}

/* Описание */
.card-text {
  font-size: 0.9rem;
  color: #666666;
  margin: 12px 0;
  flex-grow: 1; /* Уравнивает высоту текста */
}

/* Кнопка */
.btn {
  background-color: #70C05B;
  border: solid 1px #4a8a3a;
  color: white;
  padding: 7px 25px;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.5s;
  text-decoration: none;
}

.btn:hover {
  background-color: #238b09;
}

/* Метки */
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  z-index: 1;
}

.badge-sale {
  background-color: #d32f2f;
}

.badge-bestseller {
  background-color: #ff9800;
  top: 40px;
}
