/* Общий стиль для хедера */
.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; /* Равномерное распределение элементов */
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    max-width: 1200px; /* Установка ширины хедера */
    margin: 0 auto; /* Центрирование хедера на странице */
}
.header-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap; /* Позволяет переносить элементы */
}

/* Логотип */
.logo-img img {
    width: 170px;
    height: auto;
}

/* Кнопка "Каталог" */
.header-button {
    display: flex;
    align-items: center;
    background-color: #70C05B;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    gap: 10px; /* Расстояние между иконкой и текстом */
    transition: background-color 0.3s ease;
}

.header-button img {
    width: 20px;
    height: 20px;
}

.header-button:hover {
    background-color: #e65c00;
}

/* Поисковая строка */
.search-container {
    position: relative;
    flex: 1;
    max-width: 400px;
    margin: 0 20px;
}

.search-container input {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border: 1px solid #70C05B;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.search-container input:focus {
    border-color: #ff6600;
}

.search-container .icon-search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

/* Иконки */
.icons {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.icon img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
}

.icon:hover {
    color: #ff6600;
}

.icon img:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease;
}
